<html>
  <head>
    <title>Base </title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>