<!DOCTYPE html>
<html>
    <head>
        <title>Liste</title>
    </head>
    <body>
        <h1>Formulaire de création</h1> <a href="{% url 'logout' %}">Logout</a>
        <form  method="post">
            {% csrf_token%}
            {{form.as_p}}
            <button type="submit">Ajouter</button>
        </form>

        <h1>Liste</h1>
        {% for pers in personnes%}
            <div>
                ID : {{pers.id}} <br>
                Nom : {{pers.nom}} <br>
                Age : {{pers.age}}
            </div>
        {% endfor %}
    </body>
</html>