<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Ici la terre</h1>
        <div>
            {% if nom != 'Marie' %}
                Nom : {{nom|default:'Marie'}}
            {% endif %}
        </div>
    </body>
</html>