<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <title>Heritage</title>
        <link rel="stylesheet" href="{% static 'enfant.css' %}" type="text/css">
    </head>
    <body>
        <h1>Ici la terre</h1>
        <div class="affiche">
            {% block contenu %}
            {% endblock %}
        </div>
    </body>
</html>